<%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>


    <main>

        <div class="detail">

            <img src="../img/productos/<%= product.foto %>" alt="foto del producto" class="foto img-fluid">

            <h2><%= product.name %></h2>

            <h3><%= product.price %></h3>

            <p class = "descripcion">Descripción</p>

            <p><%= product.description %></p>

            <p class="clasificacion">Clasificación:</p>
            <p><%= product.clasificacion %></p>
            <div class="botonesDetail">

                <div>

                    <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">

                        <a href="/products/<%= product.id %>/edit">Editar</a>

                    </button>

                </div>

                <div>

                    <form action="/products/<%= product.id %>?_method=DELETE" method="POST" enctype="multipart/form-data">

                        <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">

                           Eliminar

                        </button>

                    </form>

                </div>

            </div>



    </main>

    <%- include('./partials/footer') %>

</body>

</html>