<%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>


    <main>

        <div class="detail">

            <img src="../img/productos/<%= product.foto %>" alt="foto del producto" class="foto">

            <h2><%= product.name %></h2>

            <h3><%= product.price %></h3>

            <p>Descripción</p>

            <p><%= product.description %></p>

            <p class="clasificacion">Clasificación: <%= product.clasificacion%></p>

            <div class="botones">
                <div>
                    <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        <a href="/fastenWeb/site/views/edit.ejs">Editar</a>
                    </button>
                </div>
                <div>
                    <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                        <a href="delete">Eliminar</a>
                    </button>

            </div>
        </div>

        

    </main>

    <%- include('./partials/footer') %>

</body>

</html>