<%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>


    <main>

        <div class="detail">

            <img src="/img/productos/<%= products.foto %>" alt="foto del producto" class="foto img-fluid">

            <h2><%= products.name %></h2>

            <h3><%= products.price %></h3>

            <p class = "descripcion">Descripción</p>

            <p><%= products.description %></p>

            <p class = "descripcion">Descripción</p>

            <p><%= products.descriptionSeg %></p>

            <p class="clasificacion">Clasificación:</p>
            <p><%= products.clasificacion.nombre %></p>
            <div class="botonesDetail">

                <div>

                    <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">

                        <a href="/products/<%= products.id %>/edit">Editar</a>

                    </button>

                </div>


            </div>



    </main>

    <%- include('./partials/footer') %>

</body>

</html>