<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>


    <div class="productAdd">

        <form  method="POST" action="/products/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
            <div>
               <input type="nombre" name="nombre" placeholder="Nombre" value="<%= product.name %>">
            </div>
        
            <div>
                <input type="nomenclatura" name="modelo" placeholder="Modelo" value="<%= product.modelo %>">
            </div>
        
            <div>
                <input type="precio" name="precio" placeholder="Precio" value="<%= product.price %>">
            </div>
        
            <div class="descuento">
                <label for="descuento">¿Tiene descuento?</label>
                <input type="radio" name="tiene" value="sí" class="descuento">
            </div>
        
            <div>
                <label for="Clasificación">Clasificación</label>
                <select name="familia">
                    <option value="TcT">Trabajos con tensión</option>
                    <option value="Seg">Seguridad</option>
                    <option value="ATM">Aparatos de testeo y medición</option>
                </select>
            </div>
        
            <div>
                <textarea name="description" placeholder="<%= product.description %>" value="<%= product.description %>"></textarea>    
            </div>

            <div>
                <img src="<%= product.foto %>" alt="">
                <input type="file" name="foto">Agregar foto</button>
            </div>
        
            <div>
                <button type="submit" class="publicar">Publicar</button>
            </div>
                       
            
        </form>
    
    </div>
<%- include('./partials/footer') %>

</body>
</html>