<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>

    <main>

        <div class="list">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="productos">

                <a href="/products/:id"><img src="../img/productos/<%= products[i].foto %>" alt="foto del producto" class="foto"></a>
                <a href="/products/:id" class="linkProd"><h2><%= products[i].name %></h2></a>
                <h3><%= products[i].price %></h3>
                <p><%= products[i].description%></p>
                <p class="clasificacion">Clasificación: <%= products[i].clasificacion%></p>
                <div class="botones">
                    <a href="/products/<%= products[i].id %>/edit"><i class="fas fa-pen-square"></i></a>
                    <a href="/products"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <% } %>

        </div>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>