<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>
   
    <main>

        <div class="list">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="productos">

                <a href="/grupo_3_Marquentin/fastenWeb/site/views/[i]"><img src="../img/productos/<%= products[i].foto %>" alt="foto del producto" class="foto"></a>
                <a href="/grupo_3_Marquentin/fastenWeb/site/views/[i]" class="linkProd"><h2><%= products[i].name %></h2></a>
                <h3><%= products[i].price %></h3>
                <p>Descripción:</p>
                <p><%= products[i].description%></p>
                <p class="clasificacion">Clasificación: <%= products[i].clasificacion%></p>

            </div>
            <% } %>

        </div>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>