<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>

    <main>

        <div class="list">

            <% products.forEach (function(products){ %>

                <div class="productos">

                    <img src="/img/productos/<%=products.foto%>" alt="foto del producto" class="foto">
    
                        <h2><%= products.name %></h2>
    
                        <h3><%= products.price %></h3>
    
                        <p class="descripcion"><%= products.descriptionSeg%></p>
    
                        <p class="clasificacion"> <%= products.clasificacion.nombre %></p>
    
                        <div class="botones">
    
                            <a href="/products/<%= products.id %>"><i class="fas fa-info-circle"></i></a>
    
                            <a href="/products/<%= products.id %>/edit"><i class="fas fa-pen-square"></i></a>
    
                           <form method="POST" action="/products/<%= products.id %>?_method=DELETE" enctype="multipart/form-data">
    
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            
                            </form>
                            
                            <form action="/users/addFavorite/<%= products.id %>" method="POST">
                                <button type="submit"><a href="#" class="buttonHeart" data-productId="<%= products.id %>"><i class="far fa-heart"></i></a></button>
                            </form>    
                        </div>  
    
    
                </div>

            <% }); %>

            
        </div>

    </main>

    <script src="/js/productList.js"></script>
    <%- include('./partials/footer') %>


</body>

</html>