<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>

    <main>

        <div class="list">

            <% products.forEach (function(products){ %>

                <div class="productos">

                    <img src="../img/productos/<%= products.foto %>" alt="foto del producto" class="foto">
    
                        <h2><%= products.name %></h2>
    
                        <h3><%= products.price %></h3>
    
                        <p class="descripcion"><%= products.descriptionSeg%></p>
    
                        <!--<p class="clasificacion"></p>-->
    
                        <div class="botones">
    
                            <a href="/products/<%= products.id %>"><i class="fas fa-info-circle"></i></a>
    
                            <a href="/products/<%= products.id %>/edit"><i class="fas fa-pen-square"></i></a>
    
                           <form method="POST" action="/products/<%= products.id %>?_method=DELETE" enctype="multipart/form-data">
    
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            
                            </form> 
    
                        </div>  
    
    
                </div>

            <% }); %>

            
        </div>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>