<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>

    <main>

        <div class="list">

            <% products.forEach (function(producto){ %>

                <div class="productos">

                    <img src="../img/productos/<%= producto.foto %>" alt="foto del producto" class="foto">
    
                        <h2><%= producto.name %></h2>
    
                        <h3><%= producto.price %></h3>
    
                        <p class="descripcion"><%= producto.descriptionSeg%></p>
    
                        <p class="clasificacion"><%= producto.clasificacion%></p>
    
                        <div class="botones">
    
                            <a href="/products/<%= producto.id %>"><i class="fas fa-info-circle"></i></a>
    
                            <a href="/products/<%= producto.id %>/edit"><i class="fas fa-pen-square"></i></a>
    
                           <form method="POST" action="/products/<%= producto.id %>?_method=DELETE" enctype="multipart/form-data">
    
                                <button type="submit"><i class="fas fa-trash"></i></button>
                            
                            </form> 
    
                        </div>  
    
    
                </div>

            <% }); %>

            
        </div>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>