<%- include('./partials/head') %>



<%- include('./partials/header') %>

<body>
   
    <main>

        <div class="list">

            <% for (let i = 0; i < products.length; i++) { %>

            <div class="productos">

                <img src="../img/productos/<%= products[i].foto %>" alt="foto del producto" class="foto">
                <h2><%= products[i].name %></h2>
                <h3><%= products[i].price %></h3>
                <p>Descripción:</p>
                <p><%= products[i].description%></p>
                <p class="clasificacion">Clasificación: <%= products[i].clasificacion%></p>

            </div>
            <% } %>

        </div>

    </main>

    <%- include('./partials/footer') %>

</body>

</html>