<!DOCTYPE html>
<html>
  <head>
    <title>Fasten</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- include('./partials/header') %>    
    
    <h2>Bienvenidux@e a tu perfil</h2>
    <h1><%= userLogeado.first_name %></h1>
    <h1><%= userLogeado.last_name %></h1>
    <img src="../img/users/<%= userLogeado.foto %>" alt="foto del usuario" class="foto">



    <%- include('./partials/footer') %>

  </body>
</html>
