<!DOCTYPE html>
<html>

<head>
  <title>Fasten</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <%- include('./partials/header') %>
  <main>
    <section class="perfil">
      <div class="datos-perfil">
        <h2 class="bienvenide">Bienvenida/o a tu perfil</h2>
        <div class="nombre-apellido">
          <h1><%= userLogeado.first_name %></h1>
          <h1><%= userLogeado.last_name %></h1>
        </div>
        <% if(!userLogeado.foto){ %>
          <img src="https://images.app.goo.gl/UPH9JeiTgqAKdVCS7">
        <%} else {%>
          <img class='avatar img-fluid' src="/img/users/<%= userLogeado.foto %>" alt="foto del usuario">
        <%}%>
        

        

        <div class="boton-editar">
          <a href="/users/<%= userLogeado.id %>/formEditProfile"><i class="fas fa-pen-square"></i>Actualizá tu
            perfil</a>
        </div>
      </div>


    </section>
  </main>

  <%- include('./partials/footer') %>

</body>

</html>