<%- include('./partials/head') %>

<%- include('./partials/header') %>

<body>


    <main>
        
        <% for (let i = 0; i < detalleProducto.length; i++) { %>
                         
                       
            <p><%= detalleProducto[i].image%></p>
            <h2><%= detalleProducto[i].name %></h2>
            <h3><%= detalleProducto[i].price %></h3>
            <p>Descripción:</p>
            <p><%= detalleProducto[i].description%></p>
            <p class="clasificacion">Clasificación: <%= detalleProducto[i].clasificacion%></p>

        <% } %>

        <div>
            <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                <a href="/products/:id/formularioEditar">Editar</a>
            </button>
        </div>
        <div>
            <button type="button submit" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                Eliminar
            </button>
        </div>
      

    </main>

    <%- include('./partials/footer') %>

</body>

</html>